!!!
%html
  %head
    %meta{ content: "IE=edge", 'http-equiv': "X-UA-Compatible" }
    %meta{ charset: "utf-8" }
    %meta{ content: "width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no", name: "viewport" }

    / For Facebook link formatting
    %meta{ property: "og:url", content: "#{social_media_url(current_page.url)}" }
    %meta{ property: "og:type", content: "article" }
    %meta{ property: "og:title", content: "#{current_article.title}" }
    %meta{ property: "og:description", content: "#{current_article.data['meta_short_description']}" }
    %meta{ property: "og:image", content: "#{social_media_image(current_article.data['meta_image_path'])}" }

    %title= "#{current_article.nil? ? 'Winston Kotzan\'s Technology Blog' : current_article.title}"
    =feed_tag(:atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed")

    =stylesheet_link_tag :site, relative: true
    =javascript_include_tag :all, relative: true
    =javascript_include_tag "jquery-2.2.3.min.js", relative: true

    =partial 'google_analytics'

  %body{ class: page_classes }
    = partial "header"

    .container.content
      .col-md-8
        .main.article-content{ role: "main" }
          %h2.article-title= current_article.title
          =partial 'ad_article'
          .article-date= "#{current_article.date.strftime('%m/%d/%Y')}"
          .article-body~ yield
          =partial 'ad_article_bottom'
          =partial 'disqus'

      .col-md-4
        %aside
          %h2 Recent Articles
          %ol
            - blog.articles[0...10].each do |article|
              %li= "#{link_to(article.title, article)} <span>#{article.date.strftime('%b %e')}</span>"

          -#%h2 Tags
          -#%ol
          -#  - blog.tags.each do |tag, articles|
          -#    %li= link_to("#{tag} (#{articles.size})", tag_path(tag))

          %h2 By Year
          %ol
            - blog.articles.group_by {|a| a.date.year }.each do |year, articles|
              %li= link_to("#{year} (#{articles.size})", blog_year_path(year))

          =partial 'ad_sidebar'
